<form class="action" action="" method="post">
  {% if _method %}
    <input type="hidden" name="_method" value="{{ _method }}">
  {% endif %}
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
  <div class="form-group">
    <label for="title">Заглавие</label>
    <input type="text" class="form-control" id="title" placeholder="Заглавие"
    name="title" value="{{ forum.title }}" required>
  </div>
  {% if _method %}
    <div class="form-group">
      <label for="slug">Slug</label>
      <input type="text" class="form-control" id="slug" placeholder="Slug"
      name="slug" value="{{ forum.slug }}">
      <span id="slug" class="help-block">Генерируется автоматически</span>
    </div>
  {% endif %}
  <div class="form-group">
    <label for="description">Описание</label>
    <textarea class="form-control" rows="3" id="description" placeholder="Описание"
    name="description">{{ forum.description }}</textarea>
  </div>
  <div class="form-group">
    <label for="position">Позиция</label>
    <input type="number" class="form-control" id="position" placeholder="Позиция"
    name="position" value="{{ forum.position }}">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="isVisible" {% if forum.isVisible %}checked{% endif %}> Опубликовано
    </label>
  </div>
  <div class="form-group">
    <select id="forums-access" name="access" multiple="multiple" class="form-control">
      {% for access in forum.access %}
        <option value="{{ access.name }}" {% if access.selected %}selected{% endif %}>{{ access.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <select id="forums-moderators" name="moderators" multiple="multiple" class="form-control" {% if forum.noneModerators %}disabled{% endif %}>
      {% for moderator in forum.moderators %}
        <option value="{{ moderator._id }}" {% if moderator.selected %}selected{% endif %}>
        {{ moderator.displayName }}</option>
      {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-{{ buttonClass }}">{{ buttonName }}</button>
  <a class="btn btn-warning" href="{{ app.back }}">Назад</a>
</form>